<launch>
    <node pkg="lo_handle" type="lo_handle" name="lo_handle" output="screen">
        <param name="sourceBagPath" value="/home/qh/2021-08-25-10-49-48.bag"/>
        <!-- 
            /os_cloud_node/points
            /rslidar_points
        -->
        <param name="sourceBagPathTopic" value="/os_cloud_node/points"/>
    </node>
</launch>

