<!-- -*- mode: XML -*- -->
<launch>
    <arg name="rviz" default="true" />

    <node pkg="topo_handle" type="topo_handle" name="topo" output="screen">
        <param name="valueNow" value="0.80" type="double"/>
        <param name="isRecall" value="true" type="bool"/>
    </node>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find topo_handle)/launch/topo_rviz.rviz" />
    </group>

</launch>
