<!-- -*- mode: XML -*- -->
<launch>
    <node pkg="bpltool" type="clusterCloud" name="clusterCloud" output="screen">
        <!-- online mode need input topic name and output topic name -->
        <param name="mode" value="online"/>
        <param name="inputTopic" value="/rslidar_points"/>
        <param name="outputTopic" value="/cluster_points"/>

        <!-- outline mode need input file name and output file name -->
        <!--param name = "mode" value="outline"/-->
        <param name="pcdInputFile" value="/home/qh/points.pcd"/>
        <param name="pcdOutputFile" value="/home/qh/points_clouster.pcd"/>

    </node>
</launch>
