<!-- -*- mode: XML -*- -->
<launch>
    <node pkg="bpltool" type="plane" name="plane" output="screen">
        <param name="bagPath" value="/home/qh/bin2bag/gnss.bag"/>
    </node>
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d /home/qh/qh_ws/src/bpl-tools/bpltool/src/rviz/plane.rviz" />
    </group>
</launch>
