<!-- -*- mode: XML -*- -->
<launch>
    <node pkg="bpltool" type="pole" name="pole" output="screen">
        <param name="bagPath" value="/home/qh/bin2bag/gnss.bag"/>
    </node>
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find bpltool)/rviz/pole.rviz" />
    </group>
</launch>
