<!-- -*- mode: XML -*- -->
<launch>
    <node pkg="bpltool" type="pole_release" name="pole" output="screen">
        <!-- param name="bagPath" value="/home/qh/bin2bag/gnss.bag"/-->
        <!-- param name="odomTopic" value="/aft_mapped_to_init"/-->
        <!-- param name="odomTopic" value="/aft_mapped_to_init"-->
    </node>
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d /home/qh/qh_ws/src/bpl-tools/bpltool/src/rviz/pole.rviz" />
    </group>
</launch>
